.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

@media (max-width: 800px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .list {
    grid-template-columns: 1fr;
  }
}
