.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 50px 100px;
}

@media (max-width: 900px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .list {
    grid-template-columns: 1fr;
  }
}
